name : ApartmentsPricePredictionWorkflow
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  end-to-end-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name : Run data preprocessing
        run: |
          python src/Data_Processing.py

      - name: Start MLflow server
        run: |
          docker pull ghcr.io/mlflow/mlflow
        
          docker run -d \
            -p 5000:5000 \
            --name mlflow-server \
            ghcr.io/mlflow/mlflow \
            mlflow server \
            --host 0.0.0.0 \
            --port 5000 \
            --backend-store-uri sqlite:///mlflow.db \
            --default-artifact-root /tmp/mlruns

      - name : Run model training
        run: |
          python src/Modelling.py

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            h229/apartments-price-prediction:${{ github.sha }}
          context: "."
          file: "Dockerfile"

      - name : Stop MLflow server
        run: |
          docker stop mlflow-server
          docker rm mlflow-server
          docker rmi ghcr.io/mlflow/mlflow